@model Bookshelf.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />

    <h1 style="font-weight:600">
        @Html.DisplayNameFor(model => model.Title)
    </h1>

    <h1>
        @Html.DisplayFor(model => model.Title)
    </h1>
    <h3>
        @Html.DisplayNameFor(model => model.Category.Name): @Html.DisplayFor(model => model.Category.Name)
    </h3>

    <h3 style="font-style:italic">
        @Html.DisplayNameFor(model => model.PublishedDate): @Html.DisplayFor(model => model.PublishedDate)
    </h3>

    <p>
        @Html.DisplayFor(model => model.Description)
    </p>

    <p style="font-weight:800">
        @Html.DisplayNameFor(model => model.ISBN): @Html.DisplayFor(model => model.ISBN)
    </p>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

    </dl>*@